/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;

    body {
        overflow-y: scroll;
        //margin-bottom: 15vh;
        /* Margin bottom by footer height */

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
}


//Brand site style 
.navbar-brand {
    color: rgb(216, 205, 205) !important;
    background-color: rgb(190, 30, 24);
    font-weight: 600;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;

    margin-top: 6px;
    margin-bottom: 6px;
}

section#login {
    
}