/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }
  html body {
    overflow-y: scroll;
    /* Margin bottom by footer height */ }
    html body footer {
      position: absolute;
      bottom: 0;
      width: 100%; }

.navbar-brand {
  color: #d8cdcd !important;
  background-color: #be1e18;
  font-weight: 600;
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  margin-top: 6px;
  margin-bottom: 6px; }
